/*Created by Corey*/
body {
    background: rgb(0, 0, 0);
    font-family: Verdana, Tahoma, sans-serif;
}

div.section {
    background: rgb(5, 10, 34);
}

html, body {
    margin: 0;
    height: 110%;

}

div.title {
    margin-top: 5%;
}