/*Created by Corey*/
body {
    background-image:url('../Images/starry.jpg');
}
div.section {
    background:rgba(58, 63, 88, 0.6);
}

html, body {
    margin: 0;
    height: 100%;
    
}
div.title{
  margin-top: 5%;
}